*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: inherit;
    width: 100vw;
    overflow-x: hidden;

    
    
    
}
main.card.card-body{
    @media (max-width:680px) {
        height:150px,
        width:150px
    }
}
div{
    display: block;
    
}